
/* Global */



.lightbg{
    background-color: #f2f2f2;
}

.bg-peach {
    background-color: #fbede2;
}

.block-padding-80 {
    padding: 80px 0;
}

.row {
    margin: 0 auto;
}

.portfolio-box .hover3-layer::before {
    background: rgba(0,0,0,0.75) none repeat scroll 0 0;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.em-primary {
    color: #cb967f;
    font-weight: 600;
}

/* Homepage */

.hero-mobile {
    display: none;
}

.side-bar .logo img {
    height: 44px;
}


.myimg > img {
    width: 100%;
}

.hero-btn {
    margin: 30px 30px 0 0 ;
}

.hover-box {
    background: rgba(0, 0, 0, 0.4);
}



/* About Section */

.about-sec-btns {
    padding: 0 50px;
    display: flex;
    align-items: baseline;
}

.about-sec-btns .primary-btn {
    padding: 20px 20px;
    letter-spacing: .5px;
    margin: 10px 0;
}

/* Services Section */

#services-section {
    text-align: center;
}

#services-section .block {
    padding: 140px 20px 20px;
}


.services-wrapper {
    display: flex;
}

.services-wrapper2 {
    padding-bottom: 60px;
}

.services-card {
    text-align: center;
    display: flex;
    margin: 15px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 15px rgb(38 38 38 / 20%);
    padding: 40px;
    border-radius: 5px;
}


.service {
    margin-top: 0;
}


#services-section .title > span {
    color: #fff;
}

.service > i {
    color: #2fceb1;
    font-size: 32px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 40px;
    width: auto;
   
}



/* Portfolio Section */

.portfolio-section .block {
    padding: 160px 20px 100px;
}

.portfolio-sec-btns {
    margin: auto;
    text-align: center;
    padding: 0 20px 120px 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.primary-btn {
    background-color: #2fceb1;
    color: #fff;
    padding: 20px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
    font-family: Manrope;
    box-shadow: 0 0 15px rgb(38 38 38 / 20%);
    transition: all .3s;
}

.primary-btn:hover {
    background-color: #21bda1 ;
    color: #fff;
}

.secondary-btn-wrapper {
    color: #2fceb1;
    padding: 10px;
    border-bottom: 2px solid #2fceb1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 16px;
    margin: 0 30px;
    font-family: Manrope;
    transition: all .3s;
}

.secondary-btn-wrapper:hover {
    border-bottom: 2px solid #21bda1;
    color: #21bda1;
}

.secondary-btn-wrapper a {
    color: #2fceb1;
}

.secondary-btn-wrapper a:hover {
    color: #21bda1;
}



/* Category Pages */

.sm-category-section{
    padding: 120px 0;
}

.hover-overlay {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 50px;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
}

.portfolio-box:hover .hover-overlay {
    opacity: 1;
    visibility: visible;
}

/* Modal */

.img-notvisible {
    display: none;
}

/* Single Page */

.singlepage-imgs {
    padding: 1em 0;
}

.singlepage-imgs img {
    width: 100%;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 10%);
}


.inner-header h2 {
    text-transform: uppercase;
}


/* Contact page & CTA */

.contactpg-block, .ctapg-block {
    background-size: cover;
}


.contactpg-block{
    background-image: url(https://ucarecdn.com/71af7891-328a-4179-be48-982c820fe5b2/contactbg3.jpg);
    padding: 60px 0;
}

.block .contactpg-container {
    background-color: #ffffff;
    padding: 100px 40px;
    width: 800px;
    border-radius: 5px;
}

.ctapg-block {
    background-image: url(https://ucarecdn.com/c2893b19-4fde-4703-b1de-19582d5be08d/ctabg.jpg);
    padding: 140px 0 110px;
    background-position: center;
}


#cta-section .title{
    margin-bottom: 0;
}

#cta-section h2 {
    color: #2fceb1;
}

#cta-section .subtitle {
    font-size: 18px;
    color: #ffffff;
}

#cta-section .portfolio-sec-btns{
    padding: 40px 20px;
}

#cta-section .disclaimer {
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: #cccccc !important;
}


/* (max-width:1140px) */


@media (max-width:1560px) {

    .block .container {
        width: 100%  }

    .block-padding-80 {
        padding: 80px;
    }

}

/* Mobile */


@media (max-width:480px) {
    
    .hero-desktop {
        display: none;
    }

    .block-padding-80 {
        padding: 80px 20px;
    }

    /* Hero Banner */

    .myimg > img {
        margin-top: 60px;
    }
    

    .block {
        padding: 100px 0;
    }

    .title2 {
        padding: 0px 30px;
    }

    .text-style2 {
        text-align: center;
        float: none;
    }

    .text-style2 > span {
        margin-bottom: 20px;
    }

    .theme-btn.white {
        float: none;
    }

    .hero-btn {
        margin: 5px 0;
        float: none;
        display: inline-block;
    }
    
}

